//main-colors variables
$black: #000;
$red: #F00;
$dark-red: #8b0000;
$indian-red: #b0171f;
$green: #0F0;
$dark-green: #006400;
$sea-green: #54ff9f;
$blue: #00f;
$blue-violet: #8a2be2;
$slate-blue: #6a5acd;
$medium-slate-blue: #7b68ee;
$light-slate-blue: #8470ff;
$dark-slate-blue: #483d8b;
$navy-blue: #000080;
$royal-blue: #4169e1;
$sky-blue: #87ceeb;
$aqua: #0ff;
$yellow: #ff0;
$light-yellow: #f1f189;
$white: #fff;
$silver: #c0c0c0;
$slate-grey: #708090;
$gray: #808080;
$dark-grey: #99a9a9;
$pink: #FFC0CB;
$light-pink: #FFB6C1;
$hot-pink: #ff69b4;
$maroon: #ff34b3;
$maroon1: #ee30a7;
$violet: #ee82ee;
$violet-red: #d02090;
$dark-violet: #9400d3;
$orchid: #da70d6;
$thistle: #d8bfd8;
$magenta: #ff00ff;
$dark-magenta: #8b008b;
$indigo: #4b0082;
$lavender: #e6e6fa;
$teal: #008080;
$cobalt: #3d59ab;
$brown: #a52a2a;
$chocolate: #d2691e;
$sepia: #5e2612;
$khaki: #fff68f;
$gold: #ffd700;
$orange: #ff8000;
$dark-orange: #ff7f00;