@import 'colors';
@import 'themes';

// styles
body {
    background-color: $bg-light;
    color: $color-dark;
    font-size: 20px;
}

.dark {
    background-color: $bg-dark;
    color: $color-light;
}

.night {
    background-color: $bg-night;
    color: $color-night;
}